<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Example</title>
</head>
<body>
    <h1>Esse é apenas um exemplo de template do JINJA2 no FASTAPI</h1>
    <p>Aqui está a lista de produtos na rota do Jinja:</p>
    <ul>
        {% for product in products %}
            <li>
                <strong>Nome:</strong> {{ product.name }} <br>
                <strong>Preço:</strong> R$ {{ product.price }} <br>
                <strong>ID:</strong> {{ product.id }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
